* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: #080808;
  color: #fff;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url("./edited.jpeg");
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  width: 140px;
  height: 99%;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  position: relative;
}
nav ul li a::after {
  content: " ";
  width: 0%;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}
.header-text h1 span {
  color: #ff004f;
}
/* --------------about-------------- */
#about {
  padding: 80px 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 35px;
  height: 99%;
}
.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: " ";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  line-height: 23px;
}
.tab-contents ul li span {
  color: #ff004f;
  font-size: 16px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

.contact {
  padding-left: 10%;
}

.contact img {
  width: 60px;
  height: 60px;
  padding: 1%;
  margin-left: 12%;
}

.projects{
    padding-left: 10%;
}

.box {
    display: inline-block;
    flex-direction: column;
    background-color: #ff004f;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .box:hover {
    transform: scale(1.05);
  }

  .box{
    width: 16%;
    margin: 0 auto;
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 70px;
    margin-left: 100px;
    margin-bottom: 50px;
    height: 220px;
    text-align: center;

  }

  .box h3{
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
  }

  #monster{
    padding: 45px;
  }